$color-primary: #4CAF50;
// table
$color-table-header: #504C4D;
$color-table-row-light: #ffffff;
$color-table-row-dark: #f9f9f9;
$color-table-borders: #dddddd;
// pagination
// searchbar
$color-searcbar-border: #dddddd;